* {
    box-sizing: border-box;
}

body {
    font-family: 'Anek Telugu', sans-serif;
}

h2 {
    font-size: 2rem;
}

.container {
    width: 70%;
    margin: 0 auto;
}

img {
    max-width: 100%;
    height: auto;
}

.button {
    background: #CC2020;
    color: #ffffff;
    padding: 0.5rem 1.5rem; 
    text-decoration: none;
    border-radius: 10px;
    transition: all 0.25s;
}

.button:hover {
    background: darkred;
}

/* -------------------------------------------------------------------------- */
/*                                NEWS SECTION                                */
/* -------------------------------------------------------------------------- */

.newsBox {
    display: flex;
    align-items: center; 
    margin-top: 6rem;
    margin-bottom: 3rem;
}

.newsImage {
    width: 50%;
}

.newsImage img {
    width: 50rem;
}

.newsTextTop {
    width: 50%;
    padding: 2rem;
    font-size: 1.5rem;
    text-align:left;
}

.newsTextBottom {
    width: 50%;
    padding: 2rem;
    font-size: 1.5rem;
    text-align: right;
}

/* -------------------------------------------------------------------------- */
/*                               GALLERY SECTION                              */
/* -------------------------------------------------------------------------- */

#gallery {
    width: 100vw;
    background-color: #CC2020;
}

.galleryWrapper {
    display: flex;
    flex-wrap: wrap; 
    padding: 3rem;
    justify-content: center;
}

.galleryItem {
    width: 30%;
    padding: 0 4rem;
    color: white;
    justify-content: space-between;
    text-align: center; 
}

.galleryItem img {
    width: 10rem;
}

/* -------------------------------------------------------------------------- */
/*                             MENU DI NAVIGAZIONE                            */
/* -------------------------------------------------------------------------- */

.logo img {
    width: 5rem; 
    margin: 1rem;
}

#mainHeader .container { 
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    font-size: 1.25rem;
}

.mainNav ul { 
    list-style-type: none; 
    padding: 0;
    display: flex;
    gap: 2.5rem;
}

.mainNav a {
    text-decoration: none;
    color: #000000;
    padding: 0.5rem 1rem;
}

.mainNav a:hover {
    color: #CC2020;
}

/* -------------------------------------------------------------------------- */
/*                                   FOOTER                                   */
/* -------------------------------------------------------------------------- */

#mainFooter {
    background-color: #000000;
    text-align: center;
    padding: 1rem;
    color: white;
}

#mainFooter a {
    color: white;
    text-decoration: none;
}

#mainFooter a:hover {
    color: #CC2020
}