.bg {
    background-color: #1da1f2;
}

.btn-primary {
    padding: .7rem 2rem;
    border-radius: 2rem;
    background-color: #1da1f2;
    --bs-btn-color: #f5f8fa;
}

main {
    min-height: 100vh;
    display: flex;
    align-items: center;
}

i.bi-twitter {
    color: #1da1f2;/*le icone sono testo*/
}