@mixin myGradient($from, $to) { // from e to sono due parametri che verranno passati dal foglio di stile
    
    // background: rgb(255,186,0);
    // background: linear-gradient(90deg, rgba(255,186,0,1) 0%, rgba(255,0,0,1) 100%);
    
    background: $from;
    background: linear-gradient(0deg, $from 0%, $to 100%);

}

@mixin myButton ($bgColor, $textColor, $hollow) {

    background: $bgColor;
    padding: .5rem 1.5rem;
    text-decoration: none;
    border-radius: 10px;
    color: $textColor;
    transition: all .5s;

    &:hover {
        background: lighten($bgColor, 10%);
    }

    @if $hollow==true { // con sass posso usare il comando if
        background: transparent;
        border: 1px solid $bgColor;

        &:hover {
            background: $bgColor;
            color: invert($bgColor);
        }
    }

}
