* {
    box-sizing: border-box;
}
#twitterLogo {
    color: #1DA0F2
}

.bgblue {
    background-color: #1DA1F2;
}

.container {
    padding: 5rem;
    border-radius: 15px;
}

h3 {
    color: #575757;
    font-weight: 700;
}

main {
    min-height: 100vh;
    display: flex;
    align-items: center;
}

label {
    color: #657786;
}

.btn-primary {
    padding: .7rem 2rem;
    border-radius: 2rem;
    background-color: #1DA0F2;
    border-color: #1DA0F2;
    display: block;
}

#feed {
    color: red;
    font-weight:500;
}

#prevTweet {
    display: flex;
    align-items: center;
    height: 5rem;
    background-color: #FFFFFF;
    font-weight: 500;
    color: #657786;
}
